.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width: 1023px) {
    & {
      grid-template-columns: auto auto auto;
    }
  }
  
  @media (max-width: 767px) {
    & {
      grid-template-columns: auto auto;
    }
  }
  
  @media (max-width: 487px) {
    & {
      grid-template-columns: auto;
    }
  }
}
